@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  /* Header Content Responsive */
  .header-right__wrapper {
    width: 44rem;
  }

  .header-left__title {
    font-size: 4.2rem;
    max-width: 34rem;
  }

  .header-left__description {
    font-size: 1.5rem;
    max-width: 34rem;
  }

  .header-left__link:first-child {
    width: 19rem;
    font-size: 1.5rem;
  }

  .header-left__link:last-child {
    width: 16rem;
    font-size: 1.5rem;
  }

  /* Section Services Responsive */
  .services__caption {
    font-size: 4.2rem;
    max-width: 70rem;
  }
}
@media (max-width: 992px) {
  /* --Nav Responsive-- */
  .nav__link,
  .nav-list__link {
    font-size: 1.5rem;
  }

  /* Header Content Responsive */
  .header {
    height: 125vh;
  }

  .header__contents {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 10rem;
  }

  .header-right,
  .header-left {
    max-width: none;
  }

  .header-right__wrapper {
    width: 42rem;
    margin-bottom: 4rem;
  }

  .header-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-left__title {
    max-width: 49rem;
    font-size: 3.8rem;
  }

  .header-left__description {
    font-size: 1.4rem;
    max-width: 37rem;
  }

  .header-left__link:first-child {
    width: 16rem;
    font-size: 1.4rem;
  }

  .header-left__link:last-child {
    width: 14rem;
    font-size: 1.4rem;
  }

  /* Section Services Responsive */
  .services__caption {
    font-size: 3.8rem;
    max-width: 54rem;
  }

  .services__title {
    font-size: 1.8rem;
  }

  .services-box__img {
    width: 27rem;
  }

  .services-box__title {
    font-size: 2.1rem;
  }

  .services-box__description {
    font-size: 1.7rem;
    max-width: 25rem;
  }

  .services-box__link {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  /* --Nav Responsive-- */
  .nav-list,
  .nav__link {
    display: none;
  }

  .nav-ham-menu {
    display: flex;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav--open {
    left: 0;
  }

  /* Header Content Responsive */
  .header-right__wrapper {
    width: 40rem;
  }

  .header-left__title {
    font-size: 3.4rem;
    max-width: 47rem;
  }

  /* Section Services Responsive */
  .services__caption {
    font-size: 3.4rem;
    max-width: 49rem;
  }
}
@media (max-width: 576px) {
  /* Header Content Responsive */
  .header-right__wrapper {
    width: 35rem;
  }

  .header-left__title {
    font-size: 3.2rem;
    max-width: 38rem;
  }

  .header-left__description {
    font-size: 1.3rem;
  }

  /* Section Services Responsive */
  .services__title {
    font-size: 1.7rem;
  }

  .services__caption {
    font-size: 2.8rem;
    max-width: 38rem;
  }
}

@media (max-width: 420px) {
  /* Header Content Responsive */
  .header-right__wrapper {
    width: 100%;
    max-width: 35rem;
  }

  .header-left__title {
    max-width: 26rem;
  }

  .header-left__description {
    max-width: 30rem;
  }

  .header-left__link:first-child {
    width: 14rem;
    font-size: 1.3rem;
  }

  .header-left__link:last-child {
    width: 12rem;
    font-size: 1.3rem;
  }

  /* Section Services Responsive */
  .services__title {
    font-size: 1.6rem;
  }

  .services__caption {
    max-width: 32rem;
    font-size: 2.5rem;
  }

  .services-box__title {
    font-size: 2rem;
  }

  .services-box__description {
    font-size: 1.6rem;
    max-width: 23rem;
  }

  .services-box__link {
    font-size: 1.6rem;
  }
}
