@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  /* Header Content Responsive */
  .header-right__wrapper {
    width: 44rem;
  }

  .header-left__title {
    font-size: 4.2rem;
    max-width: 34rem;
  }

  .header-left__description {
    font-size: 1.5rem;
    max-width: 34rem;
  }

  .header-left__link:first-child {
    width: 19rem;
    font-size: 1.5rem;
  }

  .header-left__link:last-child {
    width: 16rem;
    font-size: 1.5rem;
  }

  /* Section Services Responsive */
  .services__caption {
    font-size: 4.2rem;
    max-width: 70rem;
  }

  /* --Customer Support One Responsive-- */
  .customer-support-one-right-content__title {
    font-size: 3rem;
    max-width: 40rem;
  }

  .customer-support-one-right-content__advices-text {
    font-size: 1.6rem;
  }

  .customer-support-one-right-content__link {
    font-size: 1.5rem;
    width: 19rem;
  }

  .customer-support-one-left-content,
  .customer-support-one-right-content {
    width: 45%;
  }

  .customer-support-one-right-content__advices > svg {
    width: 3.3rem;
    height: 3.3rem;
  }

  .customer-support-one-right-content__advices:nth-of-type(3) {
    margin-bottom: 3rem;
  }

  .customer-support-one-left-content__chart-overlay {
    width: 23rem;
    height: 35rem;
  }

  /* --Customer Support Two Responsive-- */
  .customer-support-two-left-content,
  .customer-support-two-right-content {
    width: 45%;
  }

  .customer-support-two-left-content__title {
    font-size: 3rem;
    max-width: 40rem;
  }

  .customer-support-two-right-content__percentage-overlay {
    width: 26rem;
    height: 35rem;
  }

  /* Testimonials Responsive */
  .testimonials__downer {
    justify-content: center;
  }

  .testimonials__title {
    font-size: 4.2rem;
    max-width: 65rem;
  }

  .testimonials__btns {
    width: 14.8rem;
  }

  .testimonials__btn {
    width: 6.5rem;
    height: 6.5rem;
  }

  .testimonials-box__title {
    font-size: 2.2rem;
  }
}
@media (max-width: 992px) {
  /* --Nav Responsive-- */
  .nav__link,
  .nav-list__link {
    font-size: 1.5rem;
  }

  /* Header Content Responsive */
  .header {
    height: 125vh;
  }

  .header__contents {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 10rem;
  }

  .header-right,
  .header-left {
    max-width: none;
  }

  .header-right__wrapper {
    width: 42rem;
    margin-bottom: 4rem;
  }

  .header-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-left__title {
    max-width: 49rem;
    font-size: 3.8rem;
  }

  .header-left__description {
    font-size: 1.4rem;
    max-width: 37rem;
  }

  .header-left__link:first-child {
    width: 16rem;
    font-size: 1.4rem;
  }

  .header-left__link:last-child {
    width: 14rem;
    font-size: 1.4rem;
  }

  /* Section Services Responsive */
  .services__caption {
    font-size: 3.8rem;
    max-width: 54rem;
  }

  .services__title {
    font-size: 1.8rem;
  }

  .services-box__img {
    width: 27rem;
  }

  .services-box__title {
    font-size: 2.1rem;
  }

  .services-box__description {
    font-size: 1.7rem;
    max-width: 25rem;
  }

  .services-box__link {
    font-size: 1.7rem;
  }

  /* --Customer Support One Responsive-- */
  .customer-support-one {
    flex-direction: column;
    align-items: center;
    margin-bottom: 26%;
  }

  .customer-support-one-left-content,
  .customer-support-one-right-content {
    width: 40rem;
  }

  .customer-support-one-right-content__link {
    font-size: 1.4rem;
    width: 16rem;
  }

  .customer-support-one-left-content__chart-overlay {
    width: 20rem;
    height: 31rem;
  }

  .customer-support-one-left-content__chart-overlay-number {
    font-size: 2.2rem;
  }

  .customer-support-one-right-content {
    margin-top: 16rem;
  }

  /* --Customer Support Two Responsive-- */
  .customer-support-two {
    flex-direction: column-reverse;
    align-items: center;
  }

  .customer-support-two-left-content {
    width: 40rem;
    margin-top: 21rem;
  }
  .customer-support-two-right-content {
    width: 40rem;
  }

  .customer-support-two-right-content__percentage-overlay {
    width: 23rem;
    height: 33rem;
    bottom: -15rem;
  }

  /* Testimonials Responsive */
  .testimonials__upper {
    flex-direction: column;
    align-items: center;
  }

  .testimonials__title {
    font-size: 3.8rem;
    max-width: 60rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  .testimonials-box__title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  /* --Nav Responsive-- */
  .nav-list,
  .nav__link {
    display: none;
  }

  .nav-ham-menu {
    display: flex;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav--open {
    left: 0;
  }

  /* Header Content Responsive */
  .header-right__wrapper {
    width: 40rem;
  }

  .header-left__title {
    font-size: 3.4rem;
    max-width: 47rem;
  }

  /* Section Services Responsive */
  .services__caption {
    font-size: 3.4rem;
    max-width: 49rem;
  }

  /* Testimonials Responsive */
  .testimonials__title {
    font-size: 3.4rem;
    max-width: 49rem;
  }

  .testimonials__btns {
    width: 14.3rem;
  }

  .testimonials__btn {
    width: 6rem;
    height: 6rem;
  }

  .testimonials-box__title {
    font-size: 1.9rem;
  }
}
@media (max-width: 576px) {
  /* Header Content Responsive */
  .header-right__wrapper {
    width: 35rem;
  }

  .header-left__title {
    font-size: 3.2rem;
    max-width: 38rem;
  }

  .header-left__description {
    font-size: 1.3rem;
  }

  /* Section Services Responsive */
  .services__title {
    font-size: 1.7rem;
  }

  .services__caption {
    font-size: 2.8rem;
    max-width: 38rem;
  }

  /* --Customer Support One Responsive-- */
  .customer-support-one-left-content,
  .customer-support-one-right-content {
    max-width: 33rem;
    width: 100%;
  }

  .customer-support-one-left-content__chart-overlay {
    width: 55%;
    height: 79%;
  }

  .customer-support-one-left-content__chart-overlay svg {
    min-height: 8rem;
  }

  .customer-support-one-left-content__chart-overlay-number {
    font-size: 2.2rem;
  }

  .customer-support-one-left-content__chart-overlay-caption {
    font-size: 1.2rem;
  }

  .customer-support-one-right-content__title {
    font-size: 2.5rem;
    max-width: 35rem;
  }

  .customer-support-one-right-content__advices-text {
    font-size: 1.4rem;
  }

  .customer-support-one-right-content__advices > svg {
    width: 3.1rem;
    height: 3.1rem;
  }

  .customer-support-one-right-content__link {
    width: 15rem;
  }

  /* --Customer Support Two Responsive-- */
  .customer-support-two-left-content,
  .customer-support-two-right-content {
    max-width: 33rem;
    width: 100%;
  }

  .customer-support-two-right-content__percentage-overlay {
    width: 64%;
    height: 75%;
  }

  .customer-support-two-right-content__percentage-overlay > svg {
    min-height: 10rem;
  }

  .customer-support-two-right-content__ellipse-text {
    font-size: 1.2rem;
  }

  .customer-support-two-left-content__title {
    font-size: 2.5rem;
    max-width: 33rem;
  }

  .customer-support-two-left-content__choices-sentences {
    font-size: 1.24rem;
  }

  .customer-support-two-left-content__choices {
    margin-bottom: 2.5rem;
  }

  /* Testimonials Responsive */
  .testimonials__title {
    font-size: 2.8rem;
    max-width: 33rem;
  }

  .testimonials__btns {
    width: 13rem;
  }

  .testimonials__btn {
    width: 5.5rem;
    height: 5.5rem;
  }

  .testimonials__btn svg {
    width: 2.2rem;
    height: 2.2rem;
  }

  .testimonials-box {
    width: 33rem;
  }

  .testimonials-box__title {
    font-size: 1.8rem;
  }

  .testimonials-box-user-informations__profile {
    width: 5.2rem;
  }

  .testimonials-box-user-informations__name {
    font-size: 1.5rem;
  }

  .testimonials-box-user-informations__id {
    font-size: 1.3rem;
  }
}

@media (max-width: 420px) {
  /* Header Content Responsive */
  .header-right__wrapper {
    width: 100%;
    max-width: 35rem;
  }

  .header-left__title {
    max-width: 26rem;
  }

  .header-left__description {
    max-width: 30rem;
  }

  .header-left__link:first-child {
    width: 14rem;
    font-size: 1.3rem;
  }

  .header-left__link:last-child {
    width: 12rem;
    font-size: 1.3rem;
  }

  /* Section Services Responsive */
  .services__title {
    font-size: 1.6rem;
  }

  .services__caption {
    max-width: 32rem;
    font-size: 2.5rem;
  }

  .services-box__title {
    font-size: 2rem;
  }

  .services-box__description {
    font-size: 1.6rem;
    max-width: 23rem;
  }

  .services-box__link {
    font-size: 1.6rem;
  }

  /* --Customer Support One Responsive-- */
  .customer-support-one-left-content__chart-overlay-number {
    font-size: 2.1rem;
  }

  .customer-support-one-left-content__chart-overlay-caption {
    font-size: 1.1rem;
  }

  .customer-support-one-right-content__title {
    font-size: 2.3rem;
    max-width: 25rem;
  }

  .customer-support-one-right-content__advices-text {
    font-size: 1.3rem;
  }

  .customer-support-one-right-content__advices > svg {
    width: 2.9rem;
    height: 2.9rem;
  }

  .customer-support-one-right-content__link {
    width: 13rem;
    font-size: 1.3rem;
  }

  /* --Customer Support Two Responsive-- */
  .customer-support-two-right-content__ellipse-text {
    font-size: 1.1rem;
  }

  .customer-support-two-left-content__title {
    font-size: 2.3rem;
    max-width: 25rem;
  }

  /* Testimonials Responsive */
  .testimonials__title {
    font-size: 2.5rem;
    max-width: 30rem;
  }

  .testimonials__btn {
    width: 5rem;
    height: 5rem;
  }

  .testimonials__btn svg {
    width: 2rem;
    height: 2rem;
  }

  .testimonials__btns {
    width: 11.5rem;
  }

  .testimonials-box {
    max-width: 32rem;
    width: 100%;
  }

  .testimonials-box__title {
    font-size: 1.7rem;
  }

  .testimonials-box-user-informations__name {
    font-size: 1.4rem;
  }

  .testimonials-box-user-informations__id {
    font-size: 1.25rem;
  }
}
